body{
    margin:0;
    padding:0;
    background-color:#F1F0E2;
    font-family: 'Slabo 27px', serif;
    text-transform: capitalize;
    overflow: hidden;
    text-align: center;
}

/*--- loading ---*/

.wrapper{
    background-color:rgb(167, 167, 167);
    width:100%;
    height:100vh;
    position:absolute;
    z-index: 100;
    left:0;
    top:0;
    text-align: center;
    transition:.6s ease-in-out;
}

.wrapper span:nth-child(1){
    
    display: inline-block;
    animation: drop 3s linear .2s infinite;
}.wrapper span:nth-child(2){
    display: inline-block;
    animation: drop 3s linear .3s infinite;
}.wrapper span:nth-child(3){
    display: inline-block;
    animation: drop 3s linear .4s infinite;
}.wrapper span:nth-child(4){
    display: inline-block;
    animation: drop 3s linear .5s infinite;
}.wrapper span:nth-child(5){
    display: inline-block;
    animation: drop 3s linear .6s infinite;
}
.wrapper span:nth-child(6){
    display: inline-block;
    animation: drop 3s linear .7s infinite;
}
.wrapper span:nth-child(7){
    display: inline-block;
    animation: drop 3s linear .8s infinite;
}
.wrapper span:nth-child(8){
    display: inline-block;
    color:#000;
    animation: drop 3s linear .9s infinite;
}
  @keyframes drop {
    0%{
        transform: scale(1);
        
    }
    25%{
        transform: scale(0);
    }
    50%{
        transform: scale(0);
    }
    75%{
        transform: scale(1);
        
    }
    100%{
        transform: scale(1);
    }
    
}   
.wrapper h1{
    font-family: 'Righteous', cursive;
    font-size:50px;
    color:rgb(255, 255, 255);
    
    
    
}
.loader{
    border:16px solid rgb(255, 255, 255);
    border-top:16px solid #000;
    border-radius:50%;
    width:100px;
    height:100px;
    margin:200px auto 100px auto;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*---------------------- main page ------------------------*/
#main{
    width:100%;
    height:100vh;
    position:relative;
    background-color:rgb(228, 226, 226);
    transition:.6s ease-in-out;
    transition-delay:.6s;
    z-index: 1;
    top:0;
    left:0;
}
#infoWrap{
    display:flex;
    position: absolute;
    left:330px;
    bottom:30px;
    width:1470px;
    height:50px;
    justify-content: space-between;
    transition:.6s ease-in-out;
    opacity:0;
    
}
.infoBox{
    width:440px;
    height: 50px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    
}


#mainLWrap{
    margin:0;
    padding:100px 0 0 0;
    opacity: 0;
    transition: .7s ease-in-out;
}
#mainLWrap h3{
    margin:0;
    padding:15px;
}
#mainLWrap h3:hover{
    color:rgb(102, 101, 101);
}

#titleWrap{
    width:150px;
    height:50px;
    position: absolute;
    left:0;
    right:0;
    line-height: 50px;
    text-align:center;
    top:0;
    margin:auto;
    opacity: 0;
    transition: .6s ease-in-out;
    
}
#pageTitle{
    padding:0;
    margin:0;
}

.clothesWrap{
    width:80%;
    height:100vh;
    left:300px;
    top:0;
    position: absolute;
    display:flex;
    justify-content: space-around;
    align-items:center;
   
}

.clothesBox{
    width:450px;
    height:600px;
    transform: scale(0.9);
    transition: .6s ease-in-out;
    opacity: 0;
    
}

.clothesBox img:hover {
    filter: grayscale(0);
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(95, 95, 95, 0.418);
}
.clothesBox img{
    width:100%;
    height: 100%;
    transition:.5s ease-in-out;
    cursor: pointer;
  
}

/*----------------------------- photo page ---------------------------------*/
#cover{
    width:100%;
    height:100vh;
    position:absolute;
    left:0;
    top:0;
    background-color:#d9bb93;
    display:flex;
    transition:.6s ease-in-out;
    z-index: 2;
   
}
img{
    filter:grayscale(100%);
}

aside{
    width:300px;
    height:100vh;
    background-color: rgba(255, 255, 255, 0.747);
    
}
#leftAside{
    position:absolute;
    left:0;
    top:0;
    transition:.6s ease-in-out;
}
#rightAside{
    position:absolute;
    right:0;
    top:0;
    transition:.6s ease-in-out;
}

.linkWrap{
    width:150px;
    height:auto;
    margin:90px 0 0 100px;
    text-align: left;
    
}
.btn{
    font-family: 'Slabo 27px', serif;
    cursor: pointer;
    margin:20px;
}
.btn2{
    font-family: 'Slabo 27px', serif;
    cursor: pointer;
    margin:20px;
}
    

.env{
    margin-top:400px;
    width:100%;
    height:100px;
    background-color:rgba(128, 128, 128, 0.562);
}
.env i{
    font-size:30px;
    color:#fff;
    cursor: pointer;
    
}
.env p{
    color:#000;
    padding-top:10px;
    font-size:20px;
}

.clothesUnderline{
    font-family: 'Dancing Script', cursive;
    position: absolute;
    left:190px;
    top:70px;
}


aside h1{
    font-family: 'Dancing Script', cursive;
    font-size:40px;
}

aside h4{
    cursor: pointer;
}
aside h3{
    margin-top:100px;
    font-family: 'Righteous', cursive;
}
aside h3:hover{
    color:rgb(136, 134, 134);
}




.payment{
    font-size:30px;
}
.payWrap{
    margin-top:800px;
}


.sliderWrap{
    width:100%;
    height:100vh;
    text-align: left;
}
.imgbg{
    width:100%;
    height:100vh;
    position:absolute;
    filter:grayscale(100%);
    transition: .5s ease-in-out;
    opacity: 0;
    z-index: -20;
}
#i1{
   background: url('/img/slider/multi.jpeg');
   background-size:cover; 
  
}
#i2{
    background: url('/img/slider/casual.jpg');
    background-size:cover; 
    
}
#i3{
    background: url('/img/slider/business.jpeg');
    background-size:cover; 
    
}
#i4{
    background: url('/img/slider/sportswear.jpeg');
    background-size:cover; 
    
}
#i5{
    background: url('/img/slider/dress.jpg');
    background-size:cover; 
   
}
.sliderWrap div{
    position: absolute;
    font-family: 'Righteous', cursive;
}
.sliderWrap h1{
    font-size:50px;
    text-transform: uppercase;
    margin:0;
}
.sliderWrap p{
    margin:0;
    font-size:25px;
}
#tit1{
    left:1150px;
    top:550px;
    color: rgb(24, 24, 24);
    transform: rotate(270deg);
}
#tit2{
    left:900px;
    top:700px;
    color: rgb(24, 24, 24);
    
}
#tit3{
    color:#fff;
    left:1100px;
    top:100px;
   
}
#tit3 h1{
    font-size:40px;
}
#tit4{
    left: 450px;
    top: 400px;
    color:#fff;
    
}
#tit5{
    left:1200px;
    top:650px;
    color: rgb(24, 24, 24);
   
}


    
   


