body{
    margin:0;
    padding:0;
    background-color:#F1F0E2;
    font-family: 'Slabo 27px', serif;
    text-transform: capitalize;
}

/*--- loading ---*/
.wrapper{
    background-color:rgb(212, 208, 165);
    width:100%;
    height:100vh;
    position:absolute;
    z-index: 100;
    left:0;
    top:0;
    text-align: center;
}

.wrapper span:nth-child(1){
    
    display: inline-block;
    animation: drop 3s linear .2s infinite;
}.wrapper span:nth-child(2){
    display: inline-block;
    animation: drop 3s linear .3s infinite;
}.wrapper span:nth-child(3){
    display: inline-block;
    animation: drop 3s linear .4s infinite;
}.wrapper span:nth-child(4){
    display: inline-block;
    animation: drop 3s linear .5s infinite;
}.wrapper span:nth-child(5){
    display: inline-block;
    animation: drop 3s linear .6s infinite;
}
.wrapper span:nth-child(6){
    display: inline-block;
    animation: drop 3s linear .7s infinite;
}
.wrapper span:nth-child(7){
    display: inline-block;
    animation: drop 3s linear .8s infinite;
}
.wrapper span:nth-child(8){
    display: inline-block;
    color:#000;
    animation: drop 3s linear .9s infinite;
}
  @keyframes drop {
    0%{
        transform: scale(1);
        
    }
    25%{
        transform: scale(0);
    }
    50%{
        transform: scale(0);
    }
    75%{
        transform: scale(1);
        
    }
    100%{
        transform: scale(1);
    }
    
}   
.wrapper h1{
    font-family: 'Overlock', cursive;
    font-size:50px;
    color:rgb(255, 255, 255);
    
    
    
}
.loader{
    border:16px solid rgb(255, 255, 255);
    border-top:16px solid #000;
    border-radius:50%;
    width:100px;
    height:100px;
    margin:200px auto 100px auto;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*----------------------------- home page ---------------------------------*/
.homeWrap{
    width:100%;
    height:100vh;
    position: absolute;
    overflow: hidden;
}
.asideWrap{
    width:100%;
    height:50px;
    position: absolute;
    display:flex;
    justify-content: space-between;
    text-align: center;
}
aside{
    width:300px;
    height:100vh;
    background-color: rgba(241, 240, 226, 0.932);
    
}
#leftAside{
    position: relative;
    transition: .5s ease-in-out;
}
#rightAside{
    position: relative;
    transition: .5s ease-in-out;
}
#lAWrap{
    overflow: hidden;
}
#rAWrap{
    overflow: hidden;
}
.nav{
    display: flex;
    flex-direction: column;
    margin-left:100px;
}
.nav a{
    color:#000;
    text-decoration: none;
    font-size:20px;
    padding:10px;
    text-align:left;
}
.nav a:hover{
    color:rgb(129, 129, 129);
}

    

.env{
    margin-top:400px;
    width:100%;
    height:100px;
    background-color:rgba(128, 128, 128, 0.562);
}
.env i{
    font-size:30px;
    color:#fff;
    cursor: pointer;
    
}
.env p{
    color:#000;
    padding-top:10px;
    font-size:20px;
}

.clothesUnderline{
    font-family: 'Dancing Script', cursive;
    position: absolute;
    left:190px;
    top:70px;
}


aside h1{
    font-family: 'Dancing Script', cursive;
    font-size:40px;
}

aside h4{
    cursor: pointer;
}
aside h3{
    margin-top:100px;
    font-family: 'Righteous', cursive;
}





.payment{
    font-size:30px;
}
.payWrap{
    margin-top:800px;
}


.sliderWrap{
    width:100%;
    height:100vh;
    
}
.sliderWrap img{
   width:100%;
   position: relative;
   top:-100px;
   z-index: -100;
}
.sliderWrap div{
    position: absolute;
    font-family: 'Righteous', cursive;
}
.sliderWrap h1{
    font-size:50px;
    text-transform: uppercase;
    margin:0;
}
.sliderWrap p{
    margin:0;
    font-size:25px;
}
#tit1{
    left:1150px;
    top:550px;
    color: rgb(24, 24, 24);
    transform: rotate(270deg);
    transition: 2s linear;
    opacity: 0;
}
#tit2{
    left:900px;
    top:700px;
    color: rgb(24, 24, 24);
    transition: 2s ease-in;
    opacity: 0;
}
#tit3{
    color:#fff;
    left:1100px;
    top:100px;
    transition: 2s linear;
    opacity: 0;
    filter: grayscale(100%);
}
#tit3 h1{
    font-size:40px;
}
#tit4{
    left: 450px;
    top: 400px;
    color:#fff;
    opacity: 0;
    transition: 2s ease-in;
    filter: grayscale(100%);
}
#tit5{
    left:1200px;
    top:600px;
    opacity: 0;
    color: rgb(24, 24, 24);
    transition: 2s ease-in;
    filter: grayscale(100%);
}

/*------------------------------- pages ----------------------------------*/

.pagesWrap{
    width:100%;
    height:100vh;
    background-color:#F1F0E2;
    
}

.pageHeaders{
    width:100%;
    height:60px;
    
    text-align: center;
    line-height: 60px;
    
}


    

.pageHeaders h4{
    margin:0;
    
}

/*------- grid --------*/

.gridContainer{
    
    display: grid;
    grid-gap: 50px;
    width:500px;
    margin:  auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, minmax(150px, auto));
    filter: grayscale(100%);
    background-color:#000;
}
.gridContainer div{
    background-color: #fff;
    
}

/*---------------------------------- mens -----------------------------*/

.one{
    grid-column: 1/2;
    grid-row:1/2;
   
}
.two{
    grid-column:4/7;
    grid-row:1/2;
 
}
.three{
   
    grid-column:5/7;
    grid-row:1/2;
}
.four{
    grid-column:3/4;
    grid-row:1/2;
  
}
.five{
  
    grid-column:4/5;
    grid-row:4/7;
    
}
.six{
  
    grid-column:5/7;
    grid-row:4/7;
}
.picT{
    font-family: 'Righteous', cursive;
    position: relative;
    top:400px;
    width:100%;
    height:50px;
    margin:auto;
    font-size:40px;
    text-align:center;
    
}

